/* CSS for Overview tab */


.mo_azure_header_container {
    width: 100%;
    background-color: #f3f4f9;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mo_azure_header_container_step2{
    /* width: %; */
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 10px;
}

.reviewconfig{
    float: right;
}

.formbutton{
    float: none;
}

#auto_prov_modal_link {
    margin-top: auto;
}

.reviewbutton{
    float: right;
}

.sync_button {
    margin-left: 1em !important;
}

.mo_oauth_pro_icon1{
    height: 3%;
    width: 10%;
    visibility: visible;
    opacity: 1;
}

.mo_azure_header_container_step5{
    width: 98%;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mo_azure_header_container_step1 {
    width: 100%;
    background-color: #f3f4f9;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
}

.mo_azure_header_container_left {
    width: 50%;
    height: 100%;
    margin: 0 2em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}

.mo_azure_header_container_right {
    width: 50%;
    margin: 0 2em 0 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mo_azure_header_container_right_video {
    width: 102%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.mo_azure_background_note {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
    width: 98%;
}

.mo_azure_step_1_img{
    cursor: pointer;
    border: black;
}

.mo_azure_ad_text_center{
    text-align: center;
}

table.mo_azure_provisioning_types td{
    width: 33%;
    border: 1px solid grey;
}

table.mo_azure_provisioning_types{
    border-spacing: 2em 0;
    border-collapse: separate;
}

table.mo_azure_provisioning_types_ajax{
    border-spacing: 2em 0;
    border-collapse: separate;
}

table.mo_azure_provisioning_types_ajax td{
    padding: 0px;
}

.container-inline label:after,
.container-inline .label:after {
    content: "" !important;
}

table.how_to_perform_sync td:hover{
    background-color: lightgray;
}

table.how_to_perform_sync a{
    color: black;
    text-decoration: none;
}

table.mo_azure_test_data{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 13pt;
    background-color: #EDEDED;
}

table.mo_azure_test_data tr{
    text-align: center;
}

table.mo_azure_test_data tr td{
    border:1px solid #949090;
}

table.mo_azure_test_data tr td+td{
    word-break: break-all;
    width: 100%;
    border:1px solid #949090;
}

.mo_azure_sync_gif{
    border: 1px black solid;
}

.mo-bottom-corner{
    position: fixed;
    width: 5em;
    height: 5em;
    bottom: 2em;
    right: 2em;
    border-radius: 50px;
    border: black solid;
    text-align: center;
    box-shadow: 5px 5px 5px #999;
    z-index: 100;
}

/* CSS for Configure Azure AD tab */

.mo_azure_highlight_background{
    background-color: #e0e0e0;
    border-radius: 4px;
    width: 97%;
    padding: 0.55em;
    text-align: justify;
}

.mo-guides-floating{
    float: right;
}

/*CSS for Synchronization tab*/

.mo_azure_sync_button{
    margin-left: 3em !important;
}

.mo_azure_sync_button{
    margin-left: 3em !important;
}

.mo_azure_sync_all_button{
    margin-left: 1em !important;
}

.mo_redirect_uri{
    font-size: 12px;
}

table.attribute_mapping_table td{
    width: 40%;
}

.azure_ad_provisioning_button, .mo_azure_audits td{
    text-align: center;
}

.azure_ad_audit_clear_logs{
    text-align: right;
}

/* uninstall form */
#azure_required_field{
    color: red;
  }